.weather-display {
    display: flex;
    flex-direction: column;
}

.weather-display .wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
	flex-wrap: wrap;
    background-color: rgb(137, 207, 235, 50%);
    margin: 10px;
}


.weather-display .wraper .info-wrapper {
    display: flex;
    justify-content: space-around;
}

.weather-display .weekday {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.weather-display .forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

