.forecast .card {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.weather-card-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: calc(100%/7);
}

.weather-card-container #weekday {
    font-weight: bold;
}