.air-info {
    padding: 10px;
    border: 2px double black;
    border-radius: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.air-info .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}